
<h2>There are X Contacts</h2>
<div class= "contacts">

<P>
Movie Title(email)

  <br><a href="www.google.ca">Edit</a>|<a href="www.google.ca">Delete</a></br>
</p>
<p>
Movie Title(email)
<br><a href="www.google.ca">Edit</a>|<a href="www.google.ca">Delete</a></br>

</p>
<p>
  Movie Title(email)
  <br><a href="www.google.ca">Edit</a>|<a href="www.google.ca">Delete</a></br>


</p>
</div>
