
<h2>There are <span><%=@size%></span> Contacts</h2>
<div class= "contacts">
<%@contacts.each do |contact|%>
<P>
<%=contact.full_name%>
  <br><a href="www.google.ca">Edit</a>|<a href="www.google.ca">Delete</a></br>
</p>
<%end%>
</div>
