
<h2>There are <span><%=@size%></span> Contacts</h2>
<div class= "contacts">
<%@contacts.each do |contact|%>
<P>
<%=contact.full_name%>
  <br><a href="/contacts/:id/edit">Edit</a>|<a href="contacts/edit">Delete</a></br>
</p>
<%end%>
</div>
